<?xml version="1.0" encoding="UTF-8" ?>


<suite name="测试套件">

    <test name="测试用例">
        <classes>
            <class name="com.construct.demo.tester">
                <methods>
                    <!--<include name="test_1"/>
                    <include name="test_2"/>-->

                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="test4"/>
                    <include name="test5"/>
                    <include name="test6"/>
                    <include name="test7"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.construct.report.ExtentTestReport"/>
    </listeners>
</suite>